# Только личный аккаунт. Значения вводятся командой python3 amo.py setup.
AMO_BASE_URL=https://infomedaccountru.amocrm.ru
AMO_CLIENT_ID=
AMO_CLIENT_SECRET=
# Должен в точности совпадать с URI в настройках интеграции.
AMO_REDIRECT_URI=http://localhost:8765/callback
